# Core Framework
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-mistralai
langchain-text-splitters

# Vector Database & Embeddings
chromadb
sentence-transformers
torch
torchvision

# Document Loaders & Extractors
pypdf
youtube-transcript-api
beautifulsoup4
lxml

# Data & Environment
python-dotenv
pandas
numpy
requests

# UI App
streamlit